.levelDiv {
    @apply lg:basis-1/4 sm:w-1/2 lg:w-full m-2 border-2 border-amber-600 hover:border-amber-500 text-amber-900 text-2xl md:text-xl sm:text-base h-1/3
}

.levelDiv:hover, .selected:hover, #nextImg:hover, #previousImg:hover {
    cursor: pointer;
}

.selected {
    @apply basis-1/4 m-2 border-2 border-amber-700 md:text-xl sm:text-base
}

input {
    width: 60px;
    height: 30px;
    line-height: 1.65;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
}

#message, #message2, #message3 {
    @apply absolute left-0 right-0 top-0 bottom-0 lg:w-2/3 w-3/4 z-50 m-auto pr-4 pl-4 rounded-lg text-slate-800 bg-slate-300 lg:h-1/2 h-2/3 border-4 border-slate-700 flex flex-col overflow-auto z-50;
    // background-image: url("../../../assets/background-overlay-2.png");
    // background-size: contain;
    // max-height: 240px;
    // background-repeat: repeat-y;
}

.div_defi {
    @apply w-full flex flex-row items-center mb-2 p-2 border-2 border-slate-400 font-semibold text-xs;
}

.div_defi:hover {
    @apply border-slate-200
}

.div_defi:hover {
    cursor: pointer;
}

.nextButton:hover, .prevButton:hover {
    cursor: pointer;
}

#close_button {
    // margin-bottom:-60px;
    // z-index: 10000;
}

.nextButton {
    // margin-right: -20px;
}

.prevButton {
    // margin-left: -60px;
}

.message_container {
    @apply text-left h-full flex flex-col items-center;
}

// @media screen and (min-width: 576px) {
//     .message_container {
//         max-height: 300px;
//         overflow: auto;
//     }
//     #message, #message2 {
//         max-height: 300px;
//     }
// }
// @media screen and (min-width: 1400px) {
//     .message_container {
//         overflow:hidden;
//         max-height:700px;
//     }
//     #message, #message2 {
//         max-height: 300px;
//     }
// }
