<div id="overlay" class="absolute top-0 left-0 w-full h-full bg-slate-800 opacity-70 z-50">
</div>




<div class="flex absolute right-1 bottom-0 top-0 m-auto z-50" *ngIf="!displayMess3">
  <img (click)="next()" src="../../../assets/next.svg" alt="Suivant image" class="nextButton w-12" title="Suivant">
</div>

<div class="flex absolute right-0 bottom-8 left-0 m-auto z-50">
  <img (click)="closeMessageOverlay()" id="close_button" class=" w-16 m-auto" src="../../../assets/cross.svg">
</div>

<div class="flex absolute left-1 bottom-0 top-0 m-auto z-50" *ngIf="!displayMess1">
  <img (click)="previous()" src="../../../assets/previous.svg" alt="Précédent" class="m-auto prevButton w-12" title="Précédent">

</div>


<div id="message">
    <div class="basis-1/6 flex flex-row items-center">
        <img class="border-4 rounded-full" src="../../assets/buddy.png" width="80">
        <span class="font-semibold ml-4 mt-2 bg-slate-100 rounded-lg p-2">Salut jeune padawane, <br> Je suis Buddy, ton pote écolo !</span>
    </div>
  <div class="basis-5/6 message_container lg:text-xl">
    <div class="flex flex-col items-center mt-8 text-left">
      <p class="basis-2/6 bg-slate-100 rounded-lg p-2">
        Dans cette nouvelle aventure tu ne vas pas devoir affronter des monstres démoniaques et autres créatures malfaisantes. Et non c’est tes émissions de Co2 que tu vas affronter !
      </p>
      <br>
      <p class="basis-2/6 bg-slate-100 rounded-lg p-2 mb-2">
        Notre planète se réchauffe ! <span class="font-semibold">Sauras-tu répondre à l'appel ?</span>
      </p>
      <img src="../../../assets/logo_planete.png" width="150" height="150" alt="Logo Eco Buddy" class="basis-1/6 p-4">
    </div> 


    <!-- <div class="flex lg:flex-row flex-col items-center">
        <div class="levelDiv" id="debutant" (click)="selectLevel('debutant')">
            Débutant<br>
            <img src="../../../assets/medal-debutant.svg" alt="Médail Débutant" class="p-2 inline w-12 md-16 lg:w-20"><br>
            <span class="text-sm">Peu de connaissance, objectifs faciles</span>
        </div>
        <div class="levelDiv" id="apprenti">
            <div class="absolute lg:w-1/6 w-1/2 opacity-60">
                Apprenti<br>
                <img src="../../../assets/medal-apprenti.svg" alt="Médail Apprenti"  class="p-2 inline w-12 md-16 lg:w-20">
            </div>
            <div class="w-full h-full relative">
               <img src="../../../assets/lock.svg" alt="Vérouillé" class="inline lg:mt-8 mt-4 w-12 md-16 lg:w-20"> 
            </div>
        </div>
        <div class="levelDiv">
            <div class="absolute lg:w-1/6 w-1/2 opacity-60">
                Expert<br>
                <img src="../../../assets/medal-expert.svg" alt="Médail Expert"  class="p-2 inline w-12 md-16 lg:w-20">
            </div>
            <div class="w-full h-full relative">
               <img src="../../../assets/lock.svg" alt="Vérouillé" class="inline lg:mt-8 mt-4 w-12 md-16 lg:w-20"> 
            </div>
        </div>
        <div class="levelDiv">
            <div class="absolute lg:w-1/6 w-1/2 opacity-60">
                Maître<br>
                <img src="../../../assets/medal-maitre.svg" alt="Médail Maître" width="80px" class="p-2 inline w-12 md-16 lg:w-20">
            </div>
            <div class="w-full h-full relative">
                <img src="../../../assets/lock.svg" alt="Vérouillé" width="100px" class="inline lg:mt-8 mt-4 w-12 md-16 lg:w-20"> 
             </div>
        </div>
    </div> -->
     <!-- <div>
        <input class="mt-4" type="checkbox" id="dont_show" name="dont_show" />
        <label class="text-sm ml-1" for="dont_show">ne plus afficher ce message</label>
    </div>  -->

    <!-- <div *ngIf="isSelected()">
        <img (click)="next()" src="../../../assets/next.svg" alt="Suivant image" width="70px" class="inline nextPrevButton" title="Suivant">
    </div> -->
  </div>
</div>



<div id="message2" style="display: none;">
  <div class="basis-1/6 flex flex-row items-center">
    <img class="border-4 rounded-full" src="../../assets/buddy.png" width="80">
    <span class="font-semibold ml-4 bg-slate-100 rounded-lg p-2 mt-2">Super ! Je t'explique les règles du jeu :</span><br>

  </div>

  <div class="basis-5/6 message_container lg:text-xl">
    <div class="flex flex-col text-left h-full mt-8">
      <div class="basis-3/4 h-full">
          <p class="bg-slate-100 rounded-lg p-2">
            <span class="lg:text-2xl text-base font-semibold">Ton Crédit carbonne est de <span class="text-red-600 font-bold">{{ tonnes }} Tonnes de CO<sub>2</sub>e</span> / An.</span>
            <!-- <span class="lg:text-base text-sm text-slate-800">Ce qui équivaut à vivre une sur une planete à +<span class="text-red-600 font-semibold">{{ degres }} degrés</span> par rapport à la température des années 1900<br></span> -->
            C'est tout ce que tu peux émettres en une année ! <br>
            Les plus valeureux d'entre nous on maintenant des crédits carbonnes inférieur à 3 Tonnes de CO<sub>2</sub>e / An.
          </p>
          <br>
          <p class="bg-slate-100 rounded-lg p-2">
            6 Tonnes de Co2/ An équivaut à vivre une sur une planete à +<span class="text-red-600 font-semibold">{{ degres }} degrés</span> par rapport à la température des années 1900.
          </p>
          <br>
          <p class="bg-slate-100 rounded-lg p-2 mb-2">
            Chaque catégories (sur l'application : INTERNET, ACHATS, MAISON, DEPLACEMENT) émet des quantités très différentes de CO2. Internet par exemple émet beaucoup moins que les autres catégories (de 4 à 6% environ par rapport au GLOBAL).
          </p>
          <img src="../../../assets/logo_planete.png" width="120" height="120" alt="Logo Eco Buddy" class="m-auto m-4">
        </div>
    </div>
    
    <!-- <p>
        <span class="lg:text-2xl text-base font-semibold">Limite pour internet : <span class="text-red-600 font-bold">{{ dayTreashold }} kg CO<sub>2</sub>e</span> / Jour</span><br>
        <span class="lg:text-base text-sm text-slate-800">On part du principe qu'internet ne represente que <span class="text-red-600 font-semibold">4 %</span> sur le total des émissions d'une journée.<br></span>
    </p> -->

    <!-- <p class="mt-4">
        Comment souhaite tu répartir ton crédit en fonction de ces différentes catégories ? <br> 
        <span class="text-xs">(Si tu ne sais pas, tu peux laisser les valeurs par défaut. Tu pourras les modifier plus tard).</span>
    </p>

    <p>
        DEPLACEMENT : <input type="number" min="1" [max]="deplacementMax" step="1" [(ngModel)]="deplacement" (ngModelChange)="changeValue('deplacement')"> %<br>
        MAISON : <input type="number" min="1" [max]="maisonMax" step="1" [(ngModel)]="maison" (ngModelChange)="changeValue('maison')"> %<br>
        ACHATS : <input type="number" min="1" [max]="achatsMax" step="1" [(ngModel)]="achats" (ngModelChange)="changeValue('achats')"> %<br>
        INTERNET : <input type="number" min="1" [max]="10" step="1" [(ngModel)]="internet" (ngModelChange)="changeValue('internet')"> % Max : 10%<br>
    </p> -->
    
    <!-- <div class="flew flex-row items-center">
        <img src="../../../assets/previous.svg" alt="Précédent" width="50px" class="inline" title="Précédent" id="previousImg" (click)="previous()">
        |
        <button class="rounded-lg border-2 border-amber-400 p-1 m-1 bg-amber-300 text-lg hover:bg-amber-400 active:bg-amber-500 shadow-2xl" (click)="validate()">VALIDER</button>
    </div> -->

  </div>
</div>

  <div id="message3" style="display: none;">
    <div class="message_container">
      <h2 class="text-base font-bold mb-6 uppercase mt-4 text-center"><img src="../../assets/crossed-swords.svg" alt="Avion" height="30px" width="30px" class="inline mr-1"> Réduis ton empreinte carbonne et passe au niveau suivant !</h2>

        <div class="flex flex-row w-full items-center mb-4">
          <div class="basis-1/6 flex flex-row-reverse justify-center p-1">
            <img src="../../../assets/debutant.svg" width="35px" height="35px">
          </div>
          <div class="basis-4/6 bg-gray-200 rounded-full dark:bg-gray-700">
            <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 20%"> 20%</div>
          </div>
          <div class="basis-1/6 flex flex-row-r justify-center p-1">
            <img src="../../../assets/apprenti.svg" width="40px" height="40px">
          </div>
        </div>


        <div class="h-full w-full overflow-auto">
          <fieldset class="w-full mb-4">
            <legend class="font-bold text-xl mb-2">GLOBAL</legend>

            <div class="div_defi">
              <img class="w-8"  src="../../../assets/check.svg">
              <span class="ml-8">- - - Démarrer le suivi sur au moins une catégorie</span>
            </div>
            <div class="div_defi">
              <img class="w-6"  src="../../../assets/cross.svg">
              <span class="ml-10">- - - Respecter la limite journalière pendant une journée et valider la</span>
            </div>
            <div class="div_defi">
              <img class="w-6"  src="../../../assets/cross.svg">
              <span class="ml-10">- - - Respecter la limite journalière pendant une semaine et valider la</span>
            </div>
            <div class="div_defi">
              <img class="w-6"  src="../../../assets/cross.svg">
              <span class="ml-10">- - - Ajouter un ami</span>
            </div>
            <div class="div_defi">
              <img class="w-6"  src="../../../assets/cross.svg">
              <span class="ml-10">- - - Répondre bon au questionnaire</span>
            </div>
            </fieldset>

            <fieldset class="w-full mb-4">
            <legend class="font-bold text-xl mb-2"><img src="../../assets/internet.svg" alt="Internet" height="30px" width="30px" class="inline"> INTERNET</legend>

            <div class="div_defi">
              <img class="w-8"  src="../../../assets/check.svg">
              <span class="ml-8">- - - Respecter la limite journalière pendant une journée</span>
            </div>
            <div class="div_defi">
              <img class="w-6"  src="../../../assets/cross.svg">
              <span class="ml-10">- - - Respecter la limite journalière pendant une semaine</span>
            </div>
            <div class="div_defi">
              <img class="w-6"  src="../../../assets/cross.svg">
              <span class="ml-10">- - - Fixer la qualité maximum des vidéos à 720p</span>
            </div>
            </fieldset>

            <fieldset class="w-full mb-4">
            <legend class="font-bold text-xl mb-2"><img src="../../assets/shopping.svg" alt="Achats" height="30px" width="30px" class="inline"> ACHATS</legend>

            <div class="div_defi">
              <img class="w-8"  src="../../../assets/check.svg">
              <span class="ml-8">- - - Respecter la limite journalière pendant une journée</span>
            </div>
            <div class="div_defi">
              <img class="w-6"  src="../../../assets/cross.svg">
              <span class="ml-10">- - - Respecter la limite journalière pendant une semaine</span>
            </div>
            <div class="div_defi">
              <img class="w-6"  src="../../../assets/cross.svg">
              <span class="ml-10">- - - Ajouter minimum 20 produits en une semaine</span>
            </div>
            </fieldset>     
        </div>
  
    </div>
</div>