<div id="menu" class="flex place-content-center items-end h-full w-full">
    <button class="btn-menu total" routerLink="/global">
        <img src="../../../assets/avatar.png" alt="Coeur" height="45px" width="45px" class="inline mr-1">
        <!-- <div class="flex flex-row items-center">
            <div class="basis-1/4 ml-2 mr-2">
                <img src="../../assets/heart-svgrepo-com.svg" alt="Coeur" height="35px" width="35px" class="inline mr-1">
            </div>
            <div class="basis-3/4 text-right">
                <span>GLOBAL</span>
            </div>
        </div> -->
        </button>
    <button class="btn-menu deplacement" routerLink="/deplacement" title="A venir">
        <img src="../../assets/plane.svg" alt="Avion" height="40px" width="40px" class="inline mr-1">
        <!-- <div class="flex flex-row items-center">
            <div class="basis-1/2 ml-2 mr-2">
                <img src="../../assets/plane.svg" alt="Avion" height="40px" width="40px" class="inline mr-1">
            </div>
            <div class="basis-1/2 text-left">
                <span>DEPLACEMENT</span>
            </div>
        </div> -->
    </button>
    <button class="btn-menu maison" title="A venir">
        <img src="../../assets/home.svg" alt="Maison" height="40px" width="40px" class="inline mr-1">
        <!-- <div class="flex flex-row items-center">
            <div class="basis-1/2 ml-2 mr-2">
                <img src="../../assets/home.svg" alt="Maison" height="40px" width="40px" class="inline mr-1">
            </div>
            <div class="basis-1/2 text-left">
                <span>MAISON</span>
            </div>
        </div> -->
    </button>
    <button class="btn-menu achats" routerLink="/achats">
        <img src="../../assets/shopping.svg" alt="Achats" height="40px" width="40px" class="inline mr-1">
        <!-- <div class="flex flex-row items-center">
            <div class="basis-1/2 ml-2 mr-2">
                <img src="../../assets/shopping.svg" alt="Achats" height="40px" width="40px" class="inline mr-1">
            </div>
            <div class="basis-1/2 text-left">
                <span>ACHATS</span>
            </div>
        </div> -->
    </button>
    <button class="btn-menu internet"routerLink="/#">
        <img src="../../assets/internet.svg" alt="Internet" height="40px" width="40px" class="inline mr-1">
        <!-- <div class="flex flex-row items-center">
            <div class="basis-1/2 ml-2 mr-2">
                <img src="../../assets/internet.svg" alt="Internet" height="40px" width="40px" class="inline mr-1">
            </div>
            <div class="basis-1/2 text-left">
                <span>INTERNET</span>
            </div>
        </div> -->
    </button>
    <!-- <button class="btn-menu classement">
        <div class="flex flex-row items-center">
            <div class="basis-1/2 ml-2 mr-2">
                <img src="../../assets/medal-maitre.svg" alt="Classement" height="35px" width="35px" class="inline mr-1">
            </div>
            <div class="basis-1/2 text-left">
                <span>CLASSEMENT</span>
            </div>
        </div>
    </button> -->
    <!-- <toggle-button [buttonName]="'MENU'" [classNameToToggle]="'btn-menu'"></toggle-button> -->

</div>
