input {
    width: 80%;
    height: 40px;
    margin: 5px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid rgb(161, 161, 161);
}

#toast {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 5px;
    font-weight: 600;
    &.show {
      visibility: visible;
      -webkit-animation: fadein 0.3s, fadeout 0.5s 3.7s;
      animation: fadein 0.3s, fadeout 0.5s 3.7s;
    }
}

//#toast.show {
//    visibility: visible;
//    -webkit-animation: fadein 0.3s, fadeout 0.5s 3.7s;
//    animation: fadein 0.3s, fadeout 0.5s 3.7s;
//}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
  
@keyframes fadeout {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    overflow: auto;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}