<button class="block m-auto mt-10 mb-1 border-2 border-amber-400 bg-amber-200 p-2 rounded-lg text-medium" routerLink="/">Fermer</button>
<div class="border-2 border-slate-300 w-4/5 h-5/6 m-auto text-slate-800 shadow-2xl rounded-lg p-2 z-50 bg-slate-100 text-center">
    <div class="bg-amber-100 text-center p-2 text-lg font-medium">Changement de votre mot de passe</div>
    <form [formGroup]="resetPwdForm" class="mt-4">
        <input type="password" formControlName="password" placeholder="Nouveau mot de passe"/>
        <input type="password" formControlName="password2" placeholder="Répetez le mot de passe"/>
        <br>
        <button class="rounded-lg border-2 border-amber-400 p-1 m-1 bg-amber-300 text-lg hover:bg-amber-400 active:bg-amber-500 shadow-2xl" (click)="resetPassword()">Valider</button>
    </form>

</div>

<div id="toast">
    <span>{{ toastService.toastMessage }}</span>
  </div>