#banner {
    height: 5vh;
}

#menu {
    height: 9vh;
    z-index: 50;
}
#main {
    width: 100%;
    height:86vh;
    z-index: 100;
}
legend {
    font-size: 1.8em;
    color: rgb(56, 56, 56);
}

fieldset > input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid rgb(161, 161, 161);
}

input.ng-invalid.ng-touched {
    border: red 2px solid;
}

#toast {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 5px;
    font-weight: 600;
    &.show {
        visibility: visible;
        -webkit-animation: fadein 0.3s, fadeout 0.5s 3.7s;
        animation: fadein 0.3s, fadeout 0.5s 3.7s;
    }
}

//#toast.show {
//    visibility: visible;
//    -webkit-animation: fadein 0.3s, fadeout 0.5s 3.7s;
//    animation: fadein 0.3s, fadeout 0.5s 3.7s;
//}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
  
@keyframes fadeout {
    from {opacity: 1}
    to {opacity: 0}
}

#cloud {
    animation: MyDiv;
    animation-duration: 10s;
    animation-iteration-count: 50;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;
    background-image: url('../assets/cloud.png');
    width: 50px;
    height: 50px;
}

#cloud2 {
    animation: MyDiv2;
    animation-duration: 20s;
    animation-iteration-count: 50;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;
    background-image: url('../assets/cloud.png');
    width: 50px;
    height: 50px;
}

a {
    @apply text-slate-800 font-semibold
}