<div class="flex flex-col h-full">

  <div class="basis-1/4 w-full items-center text-center flex flex-col items-center text-base text-slate-600  p-1">
      <div>
          <img src="../../../assets/avatar.png" alt="Déplacement" height="30px" width="30px" class="inline mr-2">
          <span class="p-1 font-medium uppercase">TOTAL</span>
          <span id="time_range" class="underline underline-offset-2"></span>
      </div>
  
      <div class="w-full">
          <div class="flex flex-col p-2">
              <div class="flex justify-evenly h-20">
                  <div class="flex flex-col items-center basis-1/3  m-1 max-w-[150px]">
                      <img src="../../assets/co2.svg" width="40px" height="40px" >
                      <span class="font-semibold text-red-500">0 kgCO<sub>2</sub>e</span>
                  </div> <span class="flex items-center">=</span>
                  <div class="flex flex-col items-center basis-1/3  m-1  max-w-[150px]">
                      <img src="../../assets/car.svg" width="35px" height="35px" class="mr-1">
                      <span id="kmByCar_max">4 Km</span>
                  </div>
                  <span class="flex items-center">=</span>
                  <div class="flex flex-col items-center basis-1/3  m-1 max-w-[150px]">
                      <img src="../../assets/phone.svg" width="38px" height="38px">
                      <span id="chargedSmartphones_max" class="md:text-base text-xs">0 recharges</span>
                  </div>
              </div>
  
          <!-- <div id="level" class="items-center flex flex-row mr-1 p-2 ml-8 mr-2 items-center bg-stone-200 text-slate-800 text-xl justify-evenly border-2 border-stone-400 rounded-lg" (click)="displayChallenges()">
                  <span class="uppercase font-semibold">Défis</span>
                  <img src="../../../assets/crossed-swords.svg" width="20px" height="20px">
                  <div class="ml-2"><span class="font-semibold text-lime-500">4</span> / <span class="font-semibold">20</span></div>
          </div> -->
          </div>
      </div>
  
  </div>

  <div class="basis-3/4 flex flex-col text-slate-700 items-center text-center">
    <!-- <loader *ngIf="loading" class="w-full"></loader> -->
      <div class="basis-1/2">
        <!-- niveau débutant -->
        Personaliser votre suivi en cliquant sur une des catégories du graph :
      </div>
      <div class="basis-1/2">
        graph par catég (titre : Répartition par catégorie pour un français moyen sur 1 année (possibilité de faire varier la range))
      </div>

      <!-- <div #bar_chart id="bar_chart">

      </div> -->
    <!-- <div *ngIf="!IsChallengesStarted && !loading" class="flex flex-col justify-evenly items-center w-full h-full">
      <img src="../../../assets/seed.png" alt="Seed Budy" class="w-1/2 mt-[-40px]">
      <span class="text-xl font-semibold border-2 rounded-lg p-4 bg-slate-100">Commence les défis et fais moi grandir :D</span>
      <button class="flex flex-row items-center" (click)="startChallenges()">
        <img src="../../../assets/play.svg" alt="Commencer les défis" class="w-14 mr-2" >
        <span class="font-bold">COMMENCER</span>
      </button>

    </div>
    <div class="w-full flex flex-col" *ngIf="IsChallengesStarted && !loading">
       <div class="basis-1/6 bg-stone-100 flex flex-col items-center m-1">
        <div class="basis-1/4 text-center font-semibold p-1">
          Niveau
        </div>
        <div class="basis-2/4 flex flex-row w-full items-center">
          <div class="basis-1/6 flex flex-row-reverse justify-center p-1">
            <img src="../../../assets/debutant.svg" width="35px" height="35px">
          </div>
          <div class="basis-4/6 bg-gray-200 rounded-full dark:bg-gray-700">
            <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 20%"> 20%</div>
          </div>
          <div class="basis-1/6 flex flex-row-r justify-center p-1">
            <img src="../../../assets/apprenti.svg" width="40px" height="40px">
          </div>
        </div>
        <div class="basis-1/4 text-xs text-center">
          +4% cette semaine
        </div>
      </div> 
      <div class="basis-3/6 flex flex-col items-center">
         <div class="absolute right-8 flex flex-col items-center">
          <div class="w-16 h-16 rounded-full border-2 bg-amber-200 flex flex-row items-center"><span class="w-full text-center text-xl font-bold text-amber-600">+15%</span></div>
          <div class="text-xs text-slate-700 w-24 text-center font-semibold">Pollution / semaine dernière</div>
        </div>

        <div class="absolute right-8 flex flex-col items-center">
          <div class="w-16 h-16 rounded-full border-2 bg-lime-200 flex flex-row items-center"><span class="w-full text-center text-xl font-bold text-lime-600">111<span class="text-xs">ème</span></span></div>
          <div class="text-xs text-slate-700 w-24 text-center font-semibold">Rang</div>
        </div> 

        <div class="basis-3/6"> 
          <img  [src]="'../../../assets/' + level + '_plant.png'" alt="Plant" class="max-w-[50%] m-auto">
        </div>
 
        <div class="flex flex-col w-full items-center mt-[-50px]">
          <div class="basis-1/3 bg-gray-200 rounded-full dark:bg-gray-700 h-[13px] w-3/4">
            <div class="bg-amber-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 80%;height: 100%;">80%</div>
          </div>
          <span class="text-xs font-semibold mb-2">Limite Hébdomadaire</span>
        </div>   

        <div class="flex flex-col w-full items-center">
          <div class="basis-1/3 bg-gray-200 rounded-full dark:bg-gray-700 h-[13px] w-3/4">
            <div id="health_bar" class="bg-lime-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 100%;height: 100%;">{{trunc(pourcent_health)}}%</div>
          </div>
          <span class="basis-1/6 text-xs font-semibold mb-2">Santé</span>
        </div>        

        <div class="flex flex-col w-full items-center">
          <div class="basis-1/3 bg-gray-200 rounded-full dark:bg-gray-700 h-[13px] w-3/4">
            <div id="lvl_bar" class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 6%;height:100%"> {{trunc(pourcent_lvl)}}%</div>
          </div>
          <span class="basis-1/6 text-xs font-semibold">Niveau {{level}}</span>
        </div>
      </div>
      <div class="basis-1/6 p-4 flex flex-row">
      <div class="basis-1/2 border-2 border-stone-300 flex flex-col items-center mr-2 p-2">
        <div class="basis-2/3 text-7xl font-bold text-lime-400 p-2 text-center">9%</div>
        <div class="basis-1/3 text-xs text-center">Moins pollué que la semaine dernière</div>
      </div>
      <div class="basis-1/2 border-2 border-stone-300 p-2">
        <div class="basis-2/3 text-7xl font-bold text-slate-500 p-2 text-center">15%</div>
        <div class="basis-1/3 text-xs text-center">Mieux classé parmi les utilisateurs</div>
      </div>
     </div> 
     <div *ngIf="acheived_challenges.length === 0" class="basis-3/6 p-2 overflow-auto">
      <div class="basis-1/4 text-center font-semibold p-1">
        Prochains défis à votre portée :
      </div>
      <div class="div_defi">
        <div>
          20 cl<img class="w-8"  src="../../../assets/drop.svg">
        </div>
        
        <span class="ml-8">- - - Démarrer le suivi sur au moins une catégorie</span>
      </div>
      <div class="div_defi">
        <div>
          200 cl<img class="w-8"  src="../../../assets/drop.svg">
        </div>
        <span class="ml-10">- - - Respecter la limite journalière pendant une semaine</span>
      </div>
      <div class="div_defi">
        <div>
          200 cl<img class="w-8"  src="../../../assets/drop.svg">
        </div>
        <span class="ml-10">- - - Ajouter minimum 20 produits en une semaine</span>
      </div>
     </div>
     <div *ngIf="acheived_challenges.length > 0" class="basis-3/6 p-2 flex flex-col overflow-auto">
      <div class="basis-1/6 text-center font-semibold p-1">
        Derniers défis accomplis :
      </div>
      <div class="basis-4/6 overflow-auto">
        <div class="div_defi">
          <div class="flex flex-row">
            <span>10 cl</span> 
            <img class="w-4"  src="../../../assets/drop.svg">
          </div>
          <span class="ml-8">- - - Respecter la limite journalière pendant une journée</span>
        </div>
        <div class="div_defi">
          <div class="flex flex-row">
            <span>100 cl</span> 
            <img class="w-4"  src="../../../assets/drop.svg">
          </div>
          <span class="ml-10">- - - Respecter la limite journalière pendant une semaine</span>
        </div>
        <div class="div_defi">
          <div class="flex flex-row">
            <span>50 cl</span> 
            <img class="w-4"  src="../../../assets/drop.svg">
          </div>
          <span class="ml-10">- - - Ajouter minimum 20 produits en une semaine</span>
        </div>
      </div>

      <div class="basis-1/6 flex justify-center">
        <button class="bg-blue-600 p-3 text-white font-semibold flex flex-row items-center text-xl rounded border-4 border-amber-100" (click)="water()">
          <span class="mr-2 text-xs">(160 ml) </span>
          <img src="../../../assets/watering-can.svg" alt="Arrosoire" width="30" class="mr-2">
          Arroser</button>
          <button (click)="resetChallenges()">RESET</button>
      </div>
      
     </div>
    </div> -->
  </div>

  <div class="relative bottom-0 text-center">
      <!-- <button class="btn-menu-graph activated">
          <img src="../../../assets/list.svg" alt="Bouton Liste" width="25px" height="25px">
      </button> -->
      <!-- <button class="btn-menu-graph" id="lineButton" title="Afficher la courbe">
          <img src="../../../assets/chart-line.svg" alt="Bouton Courbe" width="25px" height="25px">
      </button>
      <button class="btn-menu-graph" id="barButton" title="Afficher le diagramme">
          <img src="../../../assets/chart-bar.svg" width="25px" height="25px" alt="Bouton diagramme" >
      </button> -->
      <!-- <button class="btn-menu-graph book">
        <img src="../../../assets/book.svg" alt="Apprentissage" width="35px" height="35px">
      </button> -->
  </div>

</div>

<overlay-message id="overlay_message"></overlay-message>

<div id="toast">
  <span>{{ toastService.toastMessage }}</span>
</div>