.div_defi {
    @apply w-full flex flex-row items-center mb-2 p-2 border-2 border-slate-400 font-semibold text-xs bg-slate-100;
}

.btn-menu-graph {
    @apply rounded-lg border-2 border-slate-400 p-2 m-1 mb-2 bg-slate-100 hover:bg-lime-200 active:bg-lime-300
}

.activated  {
    @apply rounded-lg border-2 border-lime-400 p-2 m-1 mb-2 bg-lime-300 hover:bg-slate-200 active:bg-slate-300
}