<div class="flex flex-col h-full">

    <div class="basis-1/4 w-full items-center text-center flex flex-col items-center text-base text-slate-600  p-1">
        <div class="text-xl">
            <img src="../../assets/plane.svg" alt="Avion" height="35px" width="35px" class="inline mr-2">
            <span class="p-1 font-medium">DEPLACEMENT</span>
            <span id="time_range" class="ml-4 text-amber-600"></span>
        </div>
    
        <div class="w-full">
            <div class="flex flex-col p-2">
                <div class="flex justify-evenly h-20">
                    <div class="flex flex-col items-center basis-1/3  m-1 max-w-[150px]">
                        <img src="../../assets/co2.svg" width="40px" height="40px" >
                        <span class="font-semibold text-red-500" id="co2_internet">0 kgCO<sub>2</sub>e</span>
                    </div> <span class="flex items-center">=</span>
                    <div class="flex flex-col items-center basis-1/3  m-1 max-w-[150px]">
                        <img src="../../assets/car.svg" width="35px" height="35px" class="mr-1">
                        <span id="kmByCar_max">0 Km</span>
                    </div>
                    <span class="flex items-center">=</span>
                    <div class="flex flex-col items-center basis-1/3  m-1 max-w-[150px]">
                        <img src="../../assets/phone.svg" width="38px" height="38px">
                        <span id="chargedSmartphones_max" class="md:text-base text-xs">0 recharges</span>
                    </div>
                </div>
    
            <!-- <div id="level" class="items-center flex flex-row mr-1 p-2 ml-8 mr-2 items-center bg-stone-200 text-slate-800 text-xl justify-evenly border-2 border-stone-400 rounded-lg" (click)="displayChallenges()">
                    <span class="uppercase font-semibold">Défis</span>
                    <img src="../../../assets/crossed-swords.svg" width="20px" height="20px">
                    <div class="ml-2"><span class="font-semibold text-lime-500">1</span> / <span class="font-semibold">12</span></div>
            </div> -->
            <div class="text-center font-semibold text-xl">
                Vous avez émis kgCO<sub>2</sub>e aujourd'hui
            </div>
            <div>
                <span class="m-1">Vitesse :  </span>
                <span class="m-1" id="speed">  0 km/h</span> <br>
                <span class="m-1">Vitesse background :  </span>

                <span class="m-1" id="speed_background">  0 km/h</span>
                <button class="border-2 h-24"
                (click)="start()">Commencer le tracking</button>
            </div> 
            </div>
            
    
        </div>
    
    </div>

    <div class="basis-3/4">
        <line-chart-travel [dataDb]="travelTimeSerie" class="relative z-50  "></line-chart-travel>
    </div>

    <div class="relative bottom-0 text-center">
        <button class="btn-menu-graph">
            <img src="../../../assets/list.svg" alt="Bouton Liste" width="25px" height="25px">
        </button>
        <button class="btn-menu-graph activated" id="lineButton" title="Afficher la courbe">
            <img src="../../../assets/chart-line.svg" alt="Bouton Courbe" width="25px" height="25px">
        </button>
        <button class="btn-menu-graph" id="barButton" title="Afficher le diagramme">
            <img src="../../../assets/chart-bar.svg" width="25px" height="25px" alt="Bouton diagramme" >
        </button>
    </div>

</div>



<!-- <div id="install_extension_message" class="absolute top-1/3 left-0 right-0 bottom-0 lg:w-1/2 w-3/4 z-50 lg:p-4 lg:pl-10 p-5 p-12 m-auto"  *ngIf="isExtensionMessageDisplayed">
    <div class="w-full text-center rounded-lg bg-lime-400 shadow-2xl border-2 border-slate-300 p-4 text-slate-800 z-50 text-sm font-semibold">
        <p *ngIf="browserName === 'Mozilla Firefox'"><a href="https://addons.mozilla.org/fr/firefox/addon/ecobuddy/" class="text-blue-700">Installe l'extension pour Firefox</a> et commence à suivre ton empreinte carbonne ! <br>
            Une fois l'extension installée, actualise la page s'il te plait.
        </p>
        <p *ngIf="browserName === 'Chrome'"><a href="https://chrome.google.com/webstore/detail/ecobuddy/fobapffpfeacngdlddcjadfkaegidece" class="text-blue-700">Installe l'extension pour Chrome</a> et commence à suivre ton empreinte carbonne ! <br>
            Une fois l'extension installée, actualise la page s'il te plait.
        </p>

        <img class="absolute top-0 left-0 border-4 rounded-full" src="../../assets/buddy.png" width="80">
        <button class="absolute top-0 right-0" (click)="closeMessageOverlay()" id="close_message_button"><img src="../../assets/close.svg" width="40"></button>
        <br>
        <input class="mt-4" type="checkbox" id="dont_show" name="dont_show" />
        <label class="text-sm ml-1" for="dont_show">ne plus afficher ce message</label>
    </div>
</div>
 -->
<overlay-message style="display: none;" id="overlay_message"></overlay-message>
