<button class="block m-auto mt-10 mb-1 border-2 border-amber-400 bg-amber-200 p-2 rounded-lg text-medium" routerLink="/">Fermer</button>
<div class="border-2 border-slate-300 w-4/5 h-5/6 m-auto overflow-scroll text-slate-800 shadow-2xl rounded-lg p-2 z-50 bg-slate-100 ">
    <div class="bg-amber-100 text-center p-2 text-lg font-medium">MENTIONS LÉGALES ET CONFIDENTIALITÉ DES DONNÉES</div>

    <div class="title">Édition du Site Web</div>
    <p>Propriétaire du site : SchopenCorp</p>
    
    <div class="title">Hébergement du site web</div>
    <p>Le site a été développé sous Angular/Flask et est hébergé par PlanetHoster (Le siège social de PlanetHoster se situe à Laval (grand Montréal), dans la province de Québec, au Canada).</p>
    
    <div class="title">Contenu du site et limitation de responsabilité</div>
    <p>Le site web met à disposition des utilisateurs des informations et outils liés à ses émissions personnelles de Co<sub>2</sub>e. Il est insipiré des travaux du Shift Project sur le sujet, avec notamment l'extension Carbonalyser dont notre extension s'est fortement inspirée.<br>
    Nous déclinons toute responsabilité du fait d’erreurs, d’omissions, ou pour les résultats qui pourraient être obtenus par l’usage de ces informations ou des liens hypertextes présents sur son site web.<br>
    Merci de nous signaler toute erreur ou omission importante de notre part à pierredrege_2@hotmail.fr</p>
    

    
    <div class="title">Droit de reproduction</div>
    <p>L’article L122-4 du Code de la Propriété intellectuelle dispose que : « Toute représentation ou reproduction intégrale ou partielle faite sans le consentement de l’auteur ou de ses ayants droit ou ayants cause est illicite. Il en est de même pour la traduction, l’adaptation ou la transformation, l’arrangement ou la reproduction par un art ou un procédé quelconque. ».</p>
    
    <div class="title">Données nominatives</div>
    <p>
        L'application Eco Buddy va récolter certaines de vos données personnelles avec votre accord éclairé en amont. Ces données sont votre historique internet ainsi que le nombre d'octets qui transite sur les différents sites que vous parcourez. Ces données sont stockées de manière sécurisée sur nos serveurs et utilisées seulement dans le but de vous faire réduire vos émissions de gaz à effet de serre. L’utilisateur fournit ces informations en connaissance de cause, et il lui sera toujours précisé l’obligation ou non de fournir de telles informations.<br>
    
        Tout utilisateur, comme le dispose la loi de 1978 relative à l’information, aux fichiers et aux libertés, dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant. Nous vous invitons, si vous souhaitez y avoir recours, à nous contacter à notre adresse postale ou par courrier électronique.<br>
    </p>
    
    <div class="title">Politique de protection des données</div>
    <p>
        Nous limitons la collecte des données personnelles au strict nécessaire (minimisation des données) et cela s’accompagne d’une information sur :<br>
    
        - le responsable du traitement et les objectifs du recueil de ces données (finalités) ;<br>
        - la base juridique du traitement de données ;<br>
        - le caractère obligatoire ou facultatif du recueil des données pour la gestion de votre demande et le rappel des catégories de données traitées ;<br>
        - la source des données (lorsque d’autres données que celles fournies via le service en ligne sont utilisées pour le traitement de votre demande) ;<br>
        - les catégories de personnes concernées ;<br>
        - la durée de conservation des données ;<br>
        - les mesures de sécurité ;<br>
        - vos droits Informatique et Libertés et la façon de les exercer auprès d'Ecobuudy'<br><br>
        Les données personnelles recueillies dans le cadre des services proposés sur ecobuddy.fr sont traitées selon des protocoles sécurisés.<br>
    </p>  

    
    <div class="title"></div>Utilisation des données personnelles collectées
    <p>
        - Envoi de notifications par mails si vous y avez souscrit <br>
        - Etablir des moyennes entre tous les utilisateurs pour vous comparer aux autres <br>
        - Partager votre évolution avec vos amis (soumis à une validation stricte de votre part) <br>
        - Partager des astuces de réduction de vos émissions basés sur vos habitutudes de navigation <br>
        Les articles de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles…). Le contenu intégré depuis d’autres sites se comporte de la même manière que si le visiteur se rendait sur cet autre site. Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivis tiers, suivre vos interactions avec ces contenus embarqués si vous disposez d’un compte connecté sur leur site web.
    </p>

    <!-- Statistiques et mesures d’audience : GOOGLE ANALYTICS
    
    Vous trouverez dans cet article un récapitulatif de la façon dont nous utilisons les données dans le cadre de Google Analytics, ainsi que de notre engagement à garantir leur confidentialité et leur sécurité. Cet article permet aux visiteurs (ou « utilisateurs ») de sites ou d’applications associés à Google Analytics d’en savoir plus sur les contrôles que nous mettons à la disposition des utilisateurs finaux. -->
    
    <div class="title">Utilisation et transmission de vos données personnelles</div>
    <p>
        Toutes les données sont stockés sur nos serveurs sécurisés et privés. Aucune transmission à des tiers de vos données ne sera effectuée. Tous les utilisateurs et utilisatrices peuvent demander de visionner, modifier ou supprimer leurs informations personnelles à tout moment. Les gestionnaires du site peuvent aussi voir et modifier ces informations.
    </p>

    <div class="title">Exercer vos droits</div>
    <p>
        Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles gérés par Eco Buddy, vous pouvez nous contacter pierredrege_2@hotmail.fr
    </p>
</div>